#map {
    height:420px;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
	color: black;
    border-top: 1px solid #ccc;
    padding-top: 10px;
	text-align: left;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}